.black{
  background-color:black;
  padding:10px 5px;
  height:100vh;
}

.black,
.black > ul > li > a,
.container-fluid h2{
  color:white;
}

.brand{
  height:100px;
  line-height: 100px;
}

.logo{
  font-size: 30px;
}
.wdt-40{
  width:70%;
  margin:0 auto;
}
.black > ul > li {
  list-style-type:none;
}
.fixed{
  position:fixed;
  left:0%;
  top:0%;

}
.special{
  background: linear-gradient(#1e1b00,#4f2e00);
  

}

.container-flex{
  display:flex;
  width:100%;
  flex-wrap:wrap;
  border:1px solid black;

}
.item{
  width:230px;
  height:auto;
  padding-right:20px;

}

.container-flex > .item > img{
    width:100%;
    height:auto;
}

.grey{
  background-color:#cecece;
}
